# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink:           pretty
relative_permalinks: false

# Setup
title:               MSS Simulator
tagline:             'Multi-Camera System Simulator (MSS)'
description:         'Multi-Camera System Simulator (MSS).'
url:                 http://mariogj.github.io
baseurl:             ''
paginate:            5

# About/contact
author:
  name:              Mark Otto
  url:               https://twitter.com/mdo
  email:             markdotto@gmail.com

# Custom vars
version:             1.0.0
